<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>S&R Solutions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>

</head>

<body style="overflow: hidden;">

  <div class="uk-inline"
    style="background-color: blueviolet; min-height: 100vh; max-height: 100vh; width: 100%; overflow: hidden; background-image: url('https://images.pexels.com/photos/374870/pexels-photo-374870.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); background-size: cover; background-position: center; background-repeat: no-repeat;">




    {% block content %}

    {% endblock %}



    <div class="uk-inline uk-overlay uk-overlay-primary uk-position-bottom" style="color: whitesmoke;">

      <div class="uk-position-small uk-position-center-left uk-margin">
        <h1> &nbsp;&nbsp;&nbsp;&nbsp; S&R Solutions</h1>
      </div>

      <div class="uk-position-small uk-position-center-right uk-overlay">&nbsp;</div>

      <p style="float: right; font-size: 22px;"><a href="{% url 'info' %}">Cómo Funciona</a> &nbsp;</p>
      <p style="float: right; font-size: 22px;">Quiénes Somos &nbsp;&nbsp;&nbsp;</p>
    </div>


  </div>>

</body>

</html>