{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



<div class="uk-child-width-1-3@s uk-flex-center uk-flex uk-flex-center uk-flex-middle" uk-gid style="height: 80vh;;">
  <div>
    <div class="uk-card uk-card-default uk-heigh-medium" style="border-radius: 1em;">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">Hola!</h3>
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        <p>A continuación ingresa los documentos correcpondientes a tu demanda.</p>

        <!-- Upload form. Note enctype attribute! -->

        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          
          <p>
            {{ form.docfile }}
          </p>
          <p><input type="submit" value="Upload" /></p>
        </form>

      </div>
      <div class="uk-card-footer">

        {% if results %}

        <p>El presente documento tendrá mayor éxito al presentarse para cualquiera de los siguientes hechos:</p>

        <ul uk-accordion>
          {% for x in results.resultados %}
          <li>
            <a class="uk-accordion-title" href="#">{{x.t}}</a>
            <div class="uk-accordion-content">
              <p>{{x.info}}</p>
            </div>
          </li>
          {% endfor %}
        </ul>


        {% endif %}

      </div>
    </div>
  </div>
</div>


{% endblock %}